Repository NjengaSaruni/CourseOrganizer: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-test, backend-test

.pre-commit-config.yaml:

repos:
  # Python hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: check-ast
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: debug-statements
      - id: name-tests-test
        args: ['--pytest-test-first']

  # Python formatting
  - repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
      - id: black
        language_version: python3
        args: ['--line-length=100', '--exclude=venv|migrations']

  # Python linting
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: ['--max-line-length=100', '--exclude=venv,migrations']

  # Python import sorting
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ['--profile', 'black', '--line-length=100']

  # TypeScript/JavaScript hooks
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        files: \.(js|ts|json|css|html|md)$
        exclude: ^(frontend/node_modules/|backend/static/)

  # Security checks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args: ['-r', 'backend/', '-f', 'json', '-o', 'bandit-report.json']
        exclude: ^(backend/venv/|backend/migrations/)

  # Dockerfile linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        args: ['--ignore', 'DL3008', '--ignore', 'DL3009']

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: ['-d', 'relaxed']

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.37.0
    hooks:
      - id: markdownlint
        args: ['--fix']

  # Secrets detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: package.lock.json

  # Commit message linting
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.13.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

  # Frontend specific hooks
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend Lint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|js|html|css)$
        pass_filenames: false

      - id: frontend-test
        name: Frontend Tests
        entry: bash -c 'cd frontend && npm run test:ci'
        language: system
        files: ^frontend/.*\.(ts|js)$
        pass_filenames: false
        stages: [pre-push]

      - id: backend-test
        name: Backend Tests
        entry: bash -c 'cd backend && python -m pytest --tb=short'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false
        stages: [pre-push]

# Configuration
default_stages: [commit]
fail_fast: false
minimum_pre_commit_version: '3.0.0'

Fix backend and frontend tests
  backend/course_organizer/test_settings.py
  backend/directory/tests/test_models.py
  backend/directory/tests/test_views.py
  backend/media/course_content/20250919_050929_Tort I - Course Outline.pdf
  backend/media/course_content/20250919_054843_Tort I - Course Outline.pdf
  backend/media/course_content/20250919_054851_Tort I - Course Outline.pdf
  backend/media/course_content/20250919_060251_Tort I - Course Outline.pdf
  backend/media/course_content/20250919_060324_Tort I - Course Outline.pdf
  backend/media/course_content/20250919_060751_Tort I - Course Outline.pdf
  backend/media/profiles/Copilot_20250830_115711.png
  backend/media/profiles/icon.png
  backend/pytest.ini
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.spec.ts
  frontend/src/app/core/auth.service.spec.ts
Due: frontend-lint, frontend-test, backend-test

Fix deployment package creation in GitHub Actions
  .github/workflows/deploy-gce.yml
Due: none

Fix duplicate GitHub Actions workflows
  .github/workflows/deploy-gce.yml
Due: none

Fix stale versions for CI/CD
  .github/workflows/ci.yml
Due: none

Fix linting issues on repos to pass Github Action stage
  .github/workflows/ci.yml
  backend/requirements.txt
  frontend/package.json
Due: none

Fix build and add private LICENCE
  .github/workflows/ci.yml
  LICENSE
  backend/course_api/views.py
  backend/directory/admin.py
  frontend/package.json
Due: backend-test

Fix backend logger issue in CI/CD
  backend/course_api/views.py
Due: backend-test

Fix settings import
  backend/course_api/email_service.py
Due: backend-test

Fix tests
  backend/pytest.ini
Due: none

Lower coverage for testing in CI/CD
  backend/course_api/tests/test_models.py
  backend/pytest.ini
Due: backend-test

Fix the failing test
  backend/course_api/tests/test_models.py
Due: backend-test

Remove public password from ecosystem
  .gitignore
  backend/course_api/email_service.py
  backend/course_api/management/commands/create_demo_data.py
  backend/course_api/management/commands/create_uon_law_data.py
  backend/course_api/views.py
  backend/directory/serializers.py
  backend/directory/tests/test_views.py
  backend/directory/views.py
  frontend/src/app/features/login/login.component.ts
Due: frontend-lint, frontend-test, backend-test

feat(course_api): add study group models and migrations (StudyGroup, Membership, JoinRequest, GroupMeeting)
  backend/course_api/migrations/0006_studygroup_groupmeeting_studygroupjoinrequest_and_more.py
Due: backend-test

Add email template for admin on new signups
  backend/course_api/email_service.py
  backend/course_api/management/commands/create_demo_data.py
  backend/course_api/management/commands/create_uon_law_data.py
  backend/course_api/models.py
  backend/course_api/serializers.py
  backend/course_api/views.py
  backend/school/management/commands/setup_school_structure.py
  backend/templates/emails/admin_student_signup.html
  backend/templates/emails/base.html
  frontend/src/app/core/auth.service.ts
  nginx.gce.conf
  scratch.md
Due: frontend-lint, frontend-test, backend-test

feat: implement study groups with course association and class rep management
  backend/course_api/migrations/0007_groupmeeting_location_studygroup_course_and_more.py
  backend/course_api/models.py
  backend/course_api/serializers.py
  backend/course_api/urls.py
  backend/course_api/views.py
  backend/directory/management/commands/ready_user.py
  backend/school/management/commands/setup_school_structure.py
  frontend/src/app/app.routes.ts
  frontend/src/app/core/groupwork.service.ts
  frontend/src/app/features/study-groups/study-groups.component.ts
  frontend/src/app/features/video-call/lib-jitsi-video-call.component.ts
  frontend/src/app/shared/sidebar/sidebar.component.ts
Due: frontend-lint, frontend-test, backend-test

fix: redesign study groups UI with Apple-inspired design and fix join button
  frontend/src/app/features/study-groups/study-groups.component.ts
Due: frontend-lint, frontend-test

feat: add collapsible create form and leave group functionality
  backend/course_api/urls.py
  backend/course_api/views.py
  frontend/src/app/core/groupwork.service.ts
  frontend/src/app/features/study-groups/study-groups.component.ts
Due: frontend-lint, frontend-test, backend-test

feat: add study group detail page with comprehensive functionality
  frontend/src/app/app.routes.ts
  frontend/src/app/core/groupwork.service.ts
  frontend/src/app/features/study-groups/study-group-detail/study-group-detail.component.ts
  frontend/src/app/features/study-groups/study-groups.component.ts
Due: frontend-lint, frontend-test

Frontend: wrap study groups list and detail in app-page-layout; deploy: no-cache build, reset static volume, collectstatic; docs: update troubleshooting to prevent stale static
  TROUBLESHOOTING.md
  deploy-to-gce.sh
  frontend/src/app/features/study-groups/study-group-detail/study-group-detail.component.ts
  frontend/src/app/features/study-groups/study-groups.component.ts
  scratch.md
Due: frontend-lint, frontend-test

Move chat to WSS, daphne, channels
  Dockerfile.gce
  backend/course_api/consumers.py
  backend/course_api/management/commands/provision_all_group_rooms.py
  backend/course_api/migrations/0008_studygroup_xmpp_room_jid_studygroup_xmpp_room_name_and_more.py
  backend/course_api/models.py
  backend/course_api/routing.py
  backend/course_api/serializers.py
  backend/course_api/urls.py
  backend/course_api/views.py
  backend/course_api/xmpp_provisioner.py
  backend/course_organizer/asgi.py
  backend/course_organizer/settings.py
  backend/requirements.txt
  backend/startup.sh
  deploy-to-gce.sh
  docker-compose.gce.env.example
  docker-compose.gce.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/core/chat.service.ts
  frontend/src/app/core/groupwork.service.ts
  frontend/src/app/core/xmpp.service.ts
  frontend/src/app/features/study-groups/study-group-detail/study-group-detail-CHANNELS.component.ts
  frontend/src/app/features/study-groups/study-group-detail/study-group-detail-XMPP.component.ts.bak
  frontend/src/environments/environment.prod.ts
  frontend/src/environments/environment.ts
  frontend/src/main.ts
  frontend/src/types/stanza-browser.d.ts
  frontend/src/types/stanza.d.ts
  frontend/src/types/xmpp-client.d.ts
  frontend/tsconfig.app.json
  nginx.gce.conf
Due: frontend-lint, frontend-test, backend-test

feat: Implement comprehensive reply system with Apple-inspired UI
  backend/course_api/consumers.py
  backend/course_api/migrations/0002_add_reply_to_group_message.py
  backend/course_api/models.py
  backend/course_api/serializers.py
  frontend/src/app/core/chat.service.ts
  frontend/src/app/core/groupwork.service.ts
  frontend/src/app/features/study-groups/study-group-detail/study-group-detail.component.ts
  frontend/src/app/shared/sidebar/sidebar.component.ts
Due: frontend-lint, frontend-test, backend-test

refactor: Remove XMPP/Prosody chat integration, use WebSockets exclusively
  backend/course_api/management/commands/provision_all_group_rooms.py
  backend/course_api/migrations/0003_add_soft_delete_to_group_message.py
  backend/course_api/migrations/0004_remove_xmpp_fields_from_studygroup.py
  backend/course_api/models.py
  backend/course_api/serializers.py
  backend/course_api/urls.py
  backend/course_api/views.py
  backend/course_api/xmpp_provisioner.py
  docker-compose.gce.env.example
  docker-compose.gce.yml
  frontend/package.json
  frontend/src/app/core/groupwork.service.ts
  frontend/src/app/core/xmpp.service.ts
  frontend/src/app/features/study-groups/study-group-detail/study-group-detail-CHANNELS.component.ts
  frontend/src/app/features/study-groups/study-group-detail/study-group-detail-XMPP.component.ts.bak
  frontend/src/app/features/study-groups/study-group-detail/study-group-detail.component.ts
  frontend/src/environments/environment.prod.ts
  frontend/src/environments/environment.ts
  frontend/src/types/xmpp-client.d.ts
  nginx.gce.conf
Due: frontend-lint, frontend-test, backend-test

feat: Add profile picture support in chat interface
  backend/course_api/consumers.py
  backend/course_api/serializers.py
  frontend/src/app/core/chat.service.ts
  frontend/src/app/core/groupwork.service.ts
  frontend/src/app/features/study-groups/study-group-detail/study-group-detail.component.ts
Due: frontend-lint, frontend-test, backend-test

fix: Add media and static proxy configuration for profile pictures
  backend/course_api/consumers.py
  frontend/proxy.conf.json
Due: backend-test

debug: Add console logging and simplify profile picture display
  frontend/src/app/features/study-groups/study-group-detail/study-group-detail.component.ts
Due: frontend-lint, frontend-test

fix: Pass request context to GroupMessageSerializer for profile picture URLs
  backend/course_api/views.py
Due: backend-test

docs: Add comprehensive system architecture documentation
  ARCHITECTURE.md
Due: none

docs: Add comprehensive scaling guide with user thresholds
  SCALING_GUIDE.md
Due: none

docs: Add scaling considerations section to architecture
  ARCHITECTURE.md
Due: none

Add comprehensive login tracking system and fix academic year serializer bug
  backend/course_content/models.py
  backend/course_content/serializers.py
  backend/directory/LOGIN_TRACKING.md
  backend/directory/admin.py
  backend/directory/migrations/0007_loginhistory.py
  backend/directory/models.py
  backend/directory/signals.py
  backend/directory/urls.py
  backend/directory/utils.py
  backend/directory/views.py
  backend/requirements.txt
  frontend/src/app/app.routes.ts
  frontend/src/app/features/admin/admin.component.ts
  frontend/src/app/features/login-tracking/login-tracking.component.ts
Due: frontend-lint, frontend-test, backend-test

Add comprehensive media file protection system
  MEDIA_FILES_PROTECTION.md
  deploy-to-gce-safe.sh
  scripts/setup-media-backups.sh
Due: none

Enable class reps to upload course content
  backend/communication/models.py
  backend/course_api/views.py
  backend/directory/models.py
  backend/directory/serializers.py
  frontend/src/app/core/auth.service.ts
  frontend/src/app/shared/sidebar/sidebar.component.ts
Due: frontend-lint, frontend-test, backend-test

Add comprehensive microservices migration plan
  MICROSERVICES_MIGRATION.md
Due: none

feat: enable class reps to upload course content and fix announcements permissions
  frontend/src/app/app.routes.ts
  frontend/src/app/core/admin-or-classrep.guard.ts
  frontend/src/app/core/auth.service.ts
  frontend/src/app/core/communication.service.ts
  frontend/src/app/features/admin/admin.component.ts
  frontend/src/app/features/announcements/announcements.component.ts
  frontend/src/app/features/course-management/course-management.component.ts
  frontend/src/app/shared/sidebar/sidebar.component.ts
Due: frontend-lint, frontend-test

Fix active users chart x-axis labels and improve chart configuration
  .gitignore
  backend/course_api/migrations/0001_initial.py
  backend/course_api/migrations/0002_add_reply_to_group_message.py
  backend/course_api/migrations/0003_add_soft_delete_to_group_message.py
  backend/course_api/migrations/0004_remove_xmpp_fields_from_studygroup.py
  backend/directory/views.py
  frontend/package-lock.json
  frontend/package.json
  frontend/package.tmp.json
  frontend/src/app/features/login-tracking/active-users-chart.component.ts
  frontend/src/app/features/login-tracking/login-tracking.component.ts
  frontend/src/index.html
  frontend/src/styles.css
  frontend/src/types/chart.js.d.ts
  frontend/tailwind.config.js
  frontend/tsconfig.app.json
  package-lock.json
  scratch.md
Due: frontend-lint, frontend-test, backend-test

Make calendar view the default in mobile devices
  frontend/src/app/features/timetable/timetable.component.html
  frontend/src/app/features/timetable/timetable.component.ts
Due: frontend-lint, frontend-test

feat: implement reusable button component and fix Learning Hub duplication
  BUTTON_MIGRATION_COMPLETE.md
  BUTTON_MIGRATION_STATUS.md
  LEARNING_HUB_DUPLICATION_FIX.md
  frontend/src/app/app.routes.ts
  frontend/src/app/core/course-content.service.ts
  frontend/src/app/features/account-settings/account-settings.component.ts
  frontend/src/app/features/admin/admin.component.ts
  frontend/src/app/features/class-rep-management/class-rep-management.component.ts
  frontend/src/app/features/content-management-hub/content-management-hub.component.css
  frontend/src/app/features/content-management-hub/content-management-hub.component.html
  frontend/src/app/features/content-management-hub/content-management-hub.component.ts
  frontend/src/app/features/course-content-manager/course-content-manager-new.component.ts
  frontend/src/app/features/course-content-manager/forms/assignments-form.component.ts
  frontend/src/app/features/course-content-manager/forms/course-outline-form.component.ts
  frontend/src/app/features/course-content-manager/forms/materials-form.component.ts
  frontend/src/app/features/course-content-manager/forms/past-papers-form.component.ts
  frontend/src/app/features/course-content-manager/forms/recordings-form.component.ts
  frontend/src/app/features/course-management/course-management.component.html
  frontend/src/app/features/course-management/course-management.component.ts
  frontend/src/app/features/course-materials/course-materials.component.ts
  frontend/src/app/features/course-timeline/course-timeline.component.ts
  frontend/src/app/features/dashboard/dashboard.component.ts
  frontend/src/app/features/learning-hub/learning-hub.component.css
  frontend/src/app/features/learning-hub/learning-hub.component.html
  frontend/src/app/features/learning-hub/learning-hub.component.ts
  frontend/src/app/features/login/login.component.ts
  frontend/src/app/features/materials/materials.component.ts
  frontend/src/app/features/meetings/meetings.component.ts
  frontend/src/app/features/recordings/recordings.component.ts
  frontend/src/app/features/register/register.component.ts
  frontend/src/app/features/study-groups/study-group-detail/study-group-detail.component.ts
  frontend/src/app/features/study-groups/study-groups.component.ts
  frontend/src/app/features/timetable/timetable.component.html
  frontend/src/app/features/timetable/timetable.component.ts
  frontend/src/app/shared/button/button.component.spec.ts
  frontend/src/app/shared/button/button.component.ts
  frontend/src/app/shared/sidebar/sidebar.component.ts
Due: frontend-lint, frontend-test

feat: Add comprehensive group chat references and materials system
  BUTTON_MIGRATION_COMPLETE.md
  BUTTON_MIGRATION_STATUS.md
  LEARNING_HUB_DUPLICATION_FIX.md
  backend/course_api/consumers.py
  backend/course_api/migrations/0002_add_message_references.py
  backend/course_api/migrations/0003_add_group_materials.py
  backend/course_api/models.py
  backend/course_api/serializers.py
  backend/course_api/urls.py
  backend/course_api/views.py
  backend/media/group_materials/1st_Year_TT.pdf
  backend/media/group_materials/20250919_080513_Tort_I_-_Course_Outline.pdf
  deploy-to-gce-safe.sh
  deploy-to-gce.sh
  docker-compose.gce.yml
  docker/docker-compose.dev.yml
  frontend/src/app/core/chat.service.ts
  frontend/src/app/core/groupwork.service.ts
  frontend/src/app/core/message-parser.util.ts
  frontend/src/app/features/study-groups/study-group-detail/study-group-detail.component.ts
  frontend/src/app/shared/chat-autocomplete/chat-autocomplete.component.ts
  frontend/src/app/shared/chat-message-renderer/chat-message-renderer.component.ts
  start-docker-dev.sh
Due: frontend-lint, frontend-test, backend-test
